$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$primary-border-color: rgb(81, 81, 81);

$focus-border-color: #8102dd;
$hover-text-shadow: 0 0 10px rgb(179, 7, 217);
$border-color: #ccc;