<section class="grid grid-3col">
  <div class="resource flexrow">
    <label for="system.age" class="resource-label">Age</label>
    <input type="text" name="system.age" value="{{system.age}}" data-dtype="String"/>
  </div>
  <div class="resource grid-span-2 flexrow">
    <label for="system.pronouns" class="resource-label">Pronouns</label>
    <input type="text" name="system.pronouns" value="{{system.pronouns}}" data-dtype="String"/>
  </div>
  <div class="resource grid-span-3 flexrow">
    <label for="system.fear" class="resource-label">Fear</label>
    <input type="text" name="system.fear" value="{{system.fear}}" data-dtype="String"/>
  </div>
  <div class="resource grid-span-3 flexrow" >
    <label for="system.motivation" class="resource-label">Motivation</label>
    <input type="text" name="system.motivation" value="{{system.motivation}}" data-dtype="String"/>
  </div>
  <div class="resource grid-span-3 flexrow" >
    <label for="system.description" class="resource-label">Description</label>
    <input type="text" name="system.description" value="{{system.description}}" data-dtype="String"/>
  </div>
  <div class="resource grid-span-3 flexrow">
    <label for="system.grade" class="resource-label">Grade</label>
    <input type="text" name="system.grade" value="{{system.grade}}" data-dtype="String"/>
  </div>
  <fieldset class="grid-span-3 resource flexcol" >
    <legend>Your Broom</legend>
    <div class="resource flexrow" >
      <label for="system.broom.name" class="resource-label">Name</label>
      <input type="text" name="system.broom.name" value="{{system.broom.name}}" data-dtype="String"/>
    </div>
    <div class="resource flexrow" >
      <label for="system.system.broom.look" class="resource-label">Look</label>
      <input type="text" name="system.broom.look" value="{{system.broom.look}}" data-dtype="String"/>
    </div>
    <div class="resource flexrow" >
      <label for="system.broom.mechanicalbenifit" class="resource-label">Mechanical Benefit</label>
      <input type="text" name="system.broom.mechanicalbenifit" value="{{system.broom.mechanicalbenifit}}" data-dtype="String"/>
    </div>
  </fieldset>
  <fieldset class="grid-span-3 resource flexcol">
    <legend>Your Wand</legend>
    <div class="resource flexrow" >
      <label for="system.wand.core" class="resource-label">Core</label>
      <input type="text" name="system.wand.core" value="{{system.wand.core}}" data-dtype="String"/>
    </div>
    <div class="resource flexrow" >
      <label for="system.wand.wood" class="resource-label">Wood</label>
      <input type="text" name="system.wand.wood" value="{{system.wand.wood}}" data-dtype="String"/>
    </div>
  </fieldset>
  <div class="resource grid-span-3 flexrow">
    <label for="system.animalfamiliar" class="resource-label">Animal Familiar</label>
    <input type="text" name="system.animalfamiliar" value="{{system.animalfamiliar}}" data-dtype="String"/>
  </div>
</section>