<section class="flexcol">
  {{#each data.stats as |stat key|}}
    <Fieldset class="grid grid-5col">
      <legend>{{key}}</legend>
      <div class="flexrow flex-group-right">
        D<input type="text" name="data.stats.{{key}}.value" value="{{stat.value}}" data-dtype="String"/>
      </div>
      <div class="flexrow grid-span-4">
        <Fieldset class="flexrow">
        <legend>Stat</legend>
        <span class="ability-mod rollable" data-roll="d{{stat.value}}+{{stat.stat}}" data-label="Stat Roll for Fight"><i class="fas fa-dice-d20"></i></span>
        <input type="text" name="data.stats.{{key}}.stat" value="{{stat.stat}}" data-dtype="String"/>
      </Fieldset>
      <Fieldset class="flexrow">
        <legend>Magic</legend>
        <span class="ability-mod rollable" data-roll="d{{stat.value}}+{{stat.magic}}" data-label="Magic Roll for Fight"><i class="fas fa-dice-d20"></i></span>
        <input type="text" name="data.stats.{{key}}.magic" value="{{stat.magic}}" data-dtype="String"/>
      </Fieldset>
      </div>
    </Fieldset>
  {{/each}}
</section>