<section class="grid">
  <div class="resource flex-group-center">
    <label for="data.name" class="resource-label">Name</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="data.name" value="{{data.name}}" data-dtype="String"/>
    </div>
  </div>
  <div class="resource flex-group-center">
    <label for="data.age" class="resource-label">Age</label>
    <div class="resource-content flexrow flex-center flex-between">
    <input type="text" name="data.age" value="{{data.age}}" data-dtype="String"/>
    </div>
  </div>
</section>