// _base.scss
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.window-app {
  font-family: $font-stack;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: $hover-text-shadow;
    cursor: pointer;
  }
}