<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      <div class="resources grid">
        <div class="resource flex-group-center">
          <label for="data.trope" class="resource-label">Trope</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.trope" value="{{data.trope}}" data-dtype="String"/>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="tropequestions">Trope Questions</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <section class="main grid-span-2">
          {{> "systems/kidsonbrooms/templates/actor/parts/actor-features.html"}}
          {{> "systems/kidsonbrooms/templates/actor/parts/actor-strengths.html"}}
        </section>

        {{!-- For the main features list, span the right two columns --}}
        <aside class="sidebar">
          {{> "systems/kidsonbrooms/templates/actor/parts/actor-stats.html"}}
          {{> "systems/kidsonbrooms/templates/actor/parts/actor-adversity.html"}}
        </aside>

      </section>
    </div>

    {{!-- Trope Questions Tab --}}
    <div class="tab features" data-group="primary" data-tab="tropequestions">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/kidsonbrooms/templates/actor/parts/actor-features.html"}}
        </section>

      </section>
    </div>
  </section>
</form>

